:root {
  --first-logo-color: #2196f3;
  --last-logo-color: #000000;
  --primery-text-color: #757575;
  --link-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --hero-footer-dg-color: #2f303a;
  --section-dg-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--primery-text-color);
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*--------styles header----------*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--first-logo-color);
}
.header-logo > span {
  color: #000000;
}
.header-item .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-color);
}
.header-item .link:hover,
.header-item .link:focus {
  color: var(--accent-color);
}
.header-item .link.current {
  color: var(--accent-color);
}
.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primery-text-color);
}
.header-contacts .link:hover,
.header-contacts .link:focus {
  color: var(--accent-color);
}

/*--------styles hero--------*/
.hero {
  background-color: var(--hero-footer-dg-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  background: #188ce8;
}

/*-------styles main-----*/
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--link-text-color);
}
.advantage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--link-text-color);
}
.we-the-best {
  font-size: 14px;
  line-height: 1.71px;
}
.section.we {
  background-color: var(--section-dg-color);
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--link-text-color);
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/*---------portfolio-section------------*/
.button-portfolio {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--link-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.filter-list .button-portfolio:hover,
.filter-list .button-portfolio:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.filter-list .button-portfolio.all {
  color: var(--footer-text-color);
  background-color: var(--accent-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--link-text-color);
}
.portfolio-signatures {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primery-text-color);
}
/*------footer------*/
.footer {
  background-color: var(--hero-footer-dg-color);
}
.footer-logo > span {
  color: var(--secondary-text-color);
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--secondary-text-color);
}
.footer-link-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
